
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hello</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <style media="screen">
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Oswald', sans-serif;

    }
    html {
        font-family: 'Oswald', sans-serif;
          background: rgb(199, 208, 210);

        }

    body {
          margin: 0;
          padding: 0;
        }

    nav a {
          text-decoration: None;
          color: white
        }

    a:hover {
          color: red
        }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}
    change
    {% endblock %}
  </body>
</html>
